{% extends "base.html.twig" %}
{% block stylesheet %}
	<style>
		.comment-wrapper .panel-body {
			max-height: 650px;
			overflow: auto;
		}

		.comment-wrapper .media-list .media img {
			width: 64px;
			height: 64px;
			border: 2px solid #e5e7e8;
		}

		.comment-wrapper .media-list .media {
			border-bottom: 1px dashed #efefef;
			margin-bottom: 25px;
		}
	</style>
{% endblock %}
{% block body %}
	<style>
		.twitter-tweet-rendered {
			/*margin-left:84px;*/
			width: 100%;
		}
	</style>
	<section id="scetion-4">
		<div class="single-blog-banner">
			<img src="{{asset('images/8.jpg')}}" width="100%">
		</div>
	</section>


	<section id="section-5">
		<div class="single-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="center-sec">
							<div class="main-blog">
								<div class="image-sec">
									<h2>{{story.title}}</h2>
									{% set storyImg = getStoryImg(story.id) %}
									{% if storyImg %}
										<img src="{{path('story_image',{'id':storyImg.id,'size':730,'filename':storyImg.fileName})}}" width="100%">

									{% endif %}

								</div>
								<div class="content"> {{ story.body|raw }}
								</div>
								{% for t in twitter %}
									{% set twitterId = t.url|getTwitterId %}
									<blockquote width="100%" class="twitter-tweet">
										<p lang="en" dir="ltr">Folks, I am proud to call myself a union president because organized unions know how to get it done. And we are going to ensure that we build a better America for those who build this country—the middle class.</p>&mdash; Joe Biden (@JoeBiden)
										<a href="https://twitter.com/JoeBiden/status/{{ twitterId }}?ref_src=twsrc%5Etfw">February 8, 2022</a>
									</blockquote>
									<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
								{% endfor %}

								{# <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fwatch%2F%3Fv%3D185497376542726&width=500&show_text=true&appId=767511393882903&height=1059" width="500" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> #}
								{% for yt in youtube %}
									{% set ytid = yt.url|getYoutubeId %}
									<iframe width="76%" style="border-radius:11px;" height="320" src="http://www.youtube.com/embed/{{ytid}}?autoplay=1"></iframe>
								{% endfor %}

							</div>
							<div class="row">
								{% set stories = getStories() %}
								{% for s in stories %}
									<div class="col-md-6">
										<div class="box-blog">
											<div class="images">
												<span class="cat">{{ s.category.name }}</span>
												<img src="{{asset('images/SCIENCE.jpg')}}">
											</div>
											<div class="content">
												<h6>
													<i class="far fa-clock"></i>
													MARCH 13, 2018</h6>
												<h2>{{s.title}}</h2>
												<div class="box-blog-footer">
													<p><img src="{{ asset('images/1.jpeg')}}">
														by cmsmasters</p>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}

							</div>
						</div>

						<div class="row bootstrap snippets bootdeys">
							<div class=" col-sm-12">
								<div class="comment-wrapper">
									<div class="panel panel-info">
										<div class="panel-heading">
											Comment
										</div>
										<div class="panel-body">
											<form id="commentForm" method="post">
												<input type="hidden" name="story_id" value="{{story.id}}"/>
												<textarea class="form-control" name="message" placeholder="write a comment..." rows="3"></textarea>
												<div class="comment-status"></div>
												<br>
												{% if app.user %}
													<input type="submit" class="btn btn-info pull-right" value="Post">
												{% else %}
													<a style="background-color:#e12b2b;border-color: #e12b2b;" class="btn btn-info pull-right" data-toggle="modal" data-target="#exampleModalCenter">Login For Comment</a>
												{% endif %}

											</form>
											<div class="clearfix"></div>
											<hr>
											<ul class="media-list">
												{% for c in comment %}
													<li class="media">
														<a href="#" class="pull-left">
															<img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
														</a>
														<div class="media-body">
															<span class="text-muted pull-right">
																<small class="text-muted">30 min ago</small>
															</span>
															<strong class="text-success">@MartinoMont</strong>
															<p>
																Lorem ipsum dolor sit amet, consectetur adipiscing elit.
																                            Lorem ipsum dolor sit amet,
																<a href="#">#consecteturadipiscing
																</a>.
															</p>
														</div>
													</li>
												{% endfor %}


											</ul>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="right-sec">
							<div class="heading">
								<h3>Latest Articles</h3>
							</div>
							<div class="footer-blogs">
								<div class="box">
									<div class="images">
										<img src="{{asset('images/3.jpg')}}">
									</div>
									<div class="content">
										<span class="cat">MARCH 14, 2018</span>
										<h4>Sinop, Turkey. Where people don’t work after Wednesday</h4>
									</div>
								</div>
								<div class="box">
									<div class="images">
										<img src="{{asset('images/3.jpg')}}">
									</div>
									<div class="content">
										<span>MARCH 14, 2018</span>
										<h4>Sinop, Turkey. Where people don’t work after Wednesday</h4>
									</div>
								</div>
								<div class="box">
									<div class="images">
										<img src="{{asset('images/3.jpg')}}">
									</div>
									<div class="content">
										<span>MARCH 14, 2018</span>
										<h4>Sinop, Turkey. Where people don’t work after Wednesday</h4>
									</div>
								</div>
								<div class="box">
									<div class="images">
										<img src="{{asset('images/3.jpg')}}">
									</div>
									<div class="content">
										<span>MARCH 14, 2018</span>
										<h4>Sinop, Turkey. Where people don’t work after Wednesday</h4>
									</div>
								</div>
								<div class="box">
									<div class="images">
										<img src="{{asset('images/3.jpg')}}">
									</div>
									<div class="content">
										<span>MARCH 14, 2018</span>
										<h4>Sinop, Turkey. Where people don’t work after Wednesday</h4>
									</div>
								</div>
								<div class="box">
									<div class="images">
										<img src="{{asset('images/3.jpg')}}">
									</div>
									<div class="content">
										<span>MARCH 14, 2018</span>
										<h4>Sinop, Turkey. Where people don’t work after Wednesday</h4>
									</div>
								</div>
								<img src="{{asset('asset/images/add-1.jpg')}}" width="100%">
							</div>
						</div>
						{% set mostPopular = mostPopular() %}
						{% if mostPopular %}
							<div class="left-sec">
								<div class="heading">
									<h3>Most Popular</h3>
								</div>
								<div class="main-box">
									{% for mp in mostPopular %}
									{% set img = mp.id|getStoryImg%}
									{% if img %}
									<img src="{{ path('story_images_view',{'id':img.id,'size':360,'name':img.fileName}) }}">

									{% else %}
									<img src="{{asset('images/Most-Popular.jpg')}}">

									{% endif %}

										<div class="content">
											<span>1</span>
											<h5>{{mp.title}}</h5>
											<p>
												<i class="fas fa-share-alt"></i>
												38 Shares</p>
										</div>
									{% endfor %}

								</div>
							</div>
						{% endif %}


					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Please Login Here</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
						<form id="modal-form" style="padding:0px 39px 0px 20px;" method="post" >
							<input type="hidden" name="redirect" value="{{app.request.uri}}" />
							
                            
							
								<label>Email</label>
								<input name="_username" style="border-radius:33.25rem;height:3.01rem;" class="form-control" type="email" placeholder="Enter Email" required/>
								<label>Password</label>
								<input name="_password" style="border-radius:33.25rem;height:3.01rem;" class="form-control" type="password" placeholder="Enter Password" required/>
								<div class="button">
									<button type="submit" class="login" class="">Login</button>
								</div>
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	<script>
		$("#commentForm").submit(function (e) {
e.preventDefault();
var form = $(this).serialize();
$.ajax({
url: "{{ path('comment_submit') }}",
type: 'post',
data: form,
success: function (response) {
var status = '';
if (response === 'success') {
$(".comment-status").html("<p style='color:green;'>Comment Will Display After Approval</p>");
}
status = '';
}
});
})
	</script>

	<script>
		$("#modal-form").submit(function(e){
			e.preventDefault();
			var form = $(this).serialize();
		$.ajax({
  url: "{{ path('hf_login_submit') }}",
  type: 'post',
  data: form,
  success: function(response){
	window.location.assign(response);
	}
});
}) 
	</script>
{% endblock %}
